@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="row justify-content-center">
            <div class="col-md-8 col-md-4 justify-content-center" style="padding-top:40px;">
                <h4>Welcome to Deck Master!</h4>
                <p>We specialize in providing high-quality deck of cards for all of your gaming and card needs. 
                    Our online store offers a wide variety of deck, from standard playing cards to collectable 
                    and limited edition packs</p>
                <p>Our decks are made with durable materials and feature studding designs, making them perfect for both casual
                    and serious players. We also offer custom deck printing services to help you create your own personalized deck. 
                </p>
                <p>Thank you for choosing Deck Master for all of your card needs. Shop now and discover the perfect deck for you! </p>
                <div class="row">
                    <div class="col-sm justify-content-center">
                 <a class="btn btn-primary" asp-controller="Shop" asp-action="Index">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
  </div>




